@import "config";

.lecture {
  max-width: 1200px;
  margin: auto;
  
}

.lecture p {
  @include columns(8);
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2*$gutter;
}

iframe {
  @include columns(8);
  margin: auto;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  height: 45vh;
  margin-bottom: 2*$gutter;
}

.lecture .img.thumbnail{
  @include columns(8);
  margin: auto;
  padding:2px;
  display:flex;
}

.lecture .heading{
  @include columns(8);
  margin : auto;
  display: flex;
  margin-top: $gutter;
  margin-bottom: $gutter;

}


.quote {
  @include columns(8);
  margin-bottom: 2*$gutter;
  background-color: $color-grar3;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}

blockquote .quote__data{
  padding-top: $gutter;
  margin:0;
  width: 100%;
  
}

blockquote .quote__attribute {
  padding-bottom: $gutter;
  margin:0;
  width:100%
}

.lecture .list{
  @include columns(8);
  margin : auto;
  display: flex;
  flex-direction: column;
  padding-left:0px;
  margin-bottom: 20px;
}

.lecture .list .list__item{
  padding: 10px;
}

.footer{
  height: 30vh;
  padding-top: 20px;
  
}

.footer :nth-child(n){
  padding-top:20px;
  @include columns(3);
  display: flex;
  margin:auto;
  font-family: $font-heading;
  text-decoration: none;
  color:black;
}


