@import "config";

.lecture {
  max-width: 1200px;
  margin: auto;
  
}

.lecture p {
  @include columns(8);
  margin: auto;
  padding-left: $gutter/4;
  padding-right: $gutter/4;
  margin-bottom: 2*$gutter;
}

iframe {
  @include columns(8);
  margin: auto;
  display: flex;
  padding-left: $gutter/4;
  padding-right: $gutter/4;
  border: none;
  height: 45vh;
  margin-bottom: 2*$gutter;
}

.lecture .img.thumbnail{
  @include columns(8);
  margin: auto;
  padding:4px;
  display:flex;
}

.lecture .heading{
  @include columns(8);
  margin : auto;
  display: flex;
  margin-top: $gutter;
  margin-bottom: $gutter;

}


.quote {
  width: 69.35%;
  margin-bottom: 2*$gutter;
  background-color: $color-grar3;
  margin-left: -$gutter;
  margin-right: -$gutter;
  margin: auto;
  padding: $gutter;
  margin-bottom: 2*$gutter;
}

blockquote .quote__data{
  margin:0;
  width: 100%;
  margin-bottom: $gutter;
  
}

blockquote .quote__attribute {
  margin:0;
  width: 100%;
}

.lecture .list{
  @include columns(8);
  margin : auto;
  display: flex;
  flex-direction: column;
  padding-left: 3px;
  margin-bottom: $gutter;
}

.lecture .list .list__item{
  margin-bottom: $gutter;
}

.footer{
  height: 30vh;
  padding-top: $gutter;
}

pre {
  width: 66.667%;
  margin: auto;
  padding-left: $gutter/4;
  padding-right: $gutter/4;
}

.footer :nth-child(n){
  padding-top:$gutter;
  @include columns(3);
  display: flex;
  margin:auto;
  font-family: $font-heading;
  text-decoration: none;
  color:black;
}


