@import "config";

header {
  width: 100%;
  margin-bottom: 2*$gutter;
  position: relative;
}

.header_image{
  max-height: 40vh;
  overflow: hidden;
  width: 100%;
}

.img {
  height: 100%;
  width: 100%;
}

header h1 {
  font-size: 48px;
}

header h2 {
  font-size: 16px;
  text-transform: uppercase;
}

.header_title {
  font-family: $font-heading;
  position: absolute;
  bottom: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.protection{
   position: absolute;
   background-color: rgba(170, 170, 170, 0.9);
   width: 100%;
}